* {
  padding: 0;
  margin: 0;
  border: 0;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.2;
  font-size: 14px;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.8);
  font-family: Lato, sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.8;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

h1,
h2,
h3,
h5,
h6,
h7 {
  margin: 0;
  font-family: Aleo, serif;
  line-height: 1.2em;
}

h1 {
  font-size: 85px;
  font-weight: 700;
  margin-top: 30px;
}

h2 {
  display: block;
  font-size: 55px;
  font-weight: 700;
  position: relative;
  padding-bottom: 20px;
}
h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #eb1d36;
  position: absolute;
  left: 0;
  bottom: 0;
}

.button {
  display: inline-block;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  min-width: 130px;
  border: 1px solid;
  color: rgba(0, 0, 0, 0.8);
  background-color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
}
.button.primary {
  color: #ffffff;
  background-color: #fa9494;
  border-color: rgba(0, 0, 0, 0.8);
}
.button.primary.first {
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.button.secondary {
  display: inline-block;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.8);
}
.button.secondary.first {
  margin-top: 15px;
}

.header {
  background-color: rgba(0, 0, 0, 0.8);
}

.logo-blue {
  color: #0f6bd0;
  font-family: Aleo, serif;
  font-weight: 700;
  font-size: 30px;
}

.logo-yellow {
  margin-left: 10px;
  color: #fed501;
  font-family: Aleo, serif;
  font-weight: 700;
  font-size: 30px;
}

@media screen and (max-width: 767px) {
  .donation-word {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .donations {
    display: none;
  }
}

.hero {
  background-image: url("../images/hero-bg-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .hero {
    text-align: center;
  }
}

.hero__img {
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .hero__title-h1 {
    font-size: calc(46px + 54 * (100vw - 320px) / 447);
  }
}

@media screen and (max-width: 767px) {
  .hero__title-h2 {
    font-size: calc(32px + 34 * (100vw - 320px) / 447);
  }
}

.hero__text {
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .hero__text {
    font-size: calc(18px + 6 * (100vw - 320px) / 447);
  }
}

.audio {
  -ms-flex-item-align: start;
      align-self: start;
  margin-top: 20px;
}

#audio {
  width: 200px;
}

.divider-bottom {
  margin-top: -20px;
  background-image: url("../images/divider-bottom.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.divider-top {
  margin-bottom: 0;
  background-image: url("../images/divider-beige.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about {
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .about {
    text-align: center;
  }
}

span {
  display: block;
  font-weight: 700;
  color: #fa9494;
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  span {
    font-size: calc(18px + 10 * (100vw - 320px) / 447);
  }
}

@media screen and (max-width: 767px) {
  .about__title {
    font-size: calc(32px + 34 * (100vw - 320px) / 447);
  }
}

.about__element {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.about__text {
  margin-bottom: 15px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .about__text {
    font-size: calc(18px + 6 * (100vw - 320px) / 447);
  }
}

.about__pic-1 {
  width: 70%;
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  padding-bottom: 10px;
  border-color: RGBA(255, 255, 255, 0);
  border-right-width: 10px;
  border-bottom-width: 10px;
  -webkit-box-shadow: 6px 6px 0px -5px #fa9494;
          box-shadow: 6px 6px 0px -5px #fa9494;
}

.about__pic-2 {
  width: 70%;
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-bottom: 10px;
  border-color: RGBA(255, 255, 255, 0);
  border-left-width: 10px;
  border-bottom-width: 10px;
  -webkit-box-shadow: -6px 6px 0px -5px #fa9494;
          box-shadow: -6px 6px 0px -5px #fa9494;
}

.house {
  text-align: center;
  background-color: #f7f6f1;
}

.house__title {
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .house__title {
    font-size: calc(32px + 34 * (100vw - 320px) / 447);
  }
}

.house__text {
  margin-bottom: 15px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .house__text {
    font-size: calc(18px + 6 * (100vw - 320px) / 447);
  }
}

.house__image-1 {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.house__image-2 {
  width: 70%;
  margin-top: 20px;
  margin-bottom: 40px;
}

.house__image-3 {
  width: 70%;
  margin-bottom: 40px;
}

.house__image-4 {
  margin-bottom: 50px;
}

.frames {
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  .frames {
    text-align: center;
  }
}

.frames__title {
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .frames__title {
    font-size: calc(32px + 34 * (100vw - 320px) / 447);
  }
}

.frames__image-1 {
  width: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.frames__text {
  margin-bottom: 15px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .frames__text {
    font-size: calc(18px + 6 * (100vw - 320px) / 447);
  }
}

.donate {
  background-color: #f7f6f1;
  padding-bottom: 30px;
  padding-top: 20px;
}

.donate__all {
  display: block;
  background-color: #fff;
  padding-top: 40px;
  -webkit-box-shadow: 0 1px 2px rgba(163, 135, 123, 0.1), 0 2px 4px rgba(163, 135, 123, 0.1), 0 4px 8px rgba(163, 135, 123, 0.1), 0 8px 16px rgba(163, 135, 123, 0.1), 0 16px 32px rgba(163, 135, 123, 0.1), 0 32px 64px rgba(163, 135, 123, 0.1);
          box-shadow: 0 1px 2px rgba(163, 135, 123, 0.1), 0 2px 4px rgba(163, 135, 123, 0.1), 0 4px 8px rgba(163, 135, 123, 0.1), 0 8px 16px rgba(163, 135, 123, 0.1), 0 16px 32px rgba(163, 135, 123, 0.1), 0 32px 64px rgba(163, 135, 123, 0.1);
}
.donate__all .amount {
  font-family: "Aleo", serif;
  font-weight: 700;
  font-size: 55px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.2em;
}

.donate {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.donate__tittle {
  display: block;
  font-weight: 700;
  color: #fa9494;
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .donate__tittle {
    font-size: calc(18px + 10 * (100vw - 320px) / 447);
  }
}

.donate__text {
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .donate__text {
    font-size: calc(18px + 6 * (100vw - 320px) / 447);
  }
}

.donate-btn {
  margin-top: 30px;
  margin-bottom: 30px;
}

.donate-hopes {
  margin-top: 30px;
  padding-bottom: 30px;
}/*# sourceMappingURL=main.css.map */