

span {
  display: block;
  font-weight: 700;
  font-size: 24px;
  color: #fa9494;
  text-align: center;
  margin-bottom: 10px;

  @media screen and (min-width: 360px) and (max-width: 767px)
    {
      font-size: calc(24px + (30 - 20) * ((100vw - 360px) / (767 - 360)));
    }

}

.about__title {
  text-align: center;
}

.about__element {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.about__text {
  @media screen and (min-width: 360px) and (max-width: 767px)
  {
    font-size: calc(20px + (24 - 20) * ((100vw - 360px) / (767 - 360)));
  }
}