.button {
    display: inline-block;
  
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    min-width: 130px;
    border: 1px solid;
  
    color: $ptxc;
    background-color: $pbgc;
    text-decoration: none;
    text-align: center;
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: $pbgc;
    background-color: $navlac;
    border-color: $ptxc;
}


.button__first {
        margin-top: 20px;
    }
 .button__second {
        margin-top: 10px;
        margin-bottom: 10px;
    }   