.contacts__all {
  text-align: center;
  margin: auto;
  max-width: 320px;
}

.contacts__title {
  margin-top: 10px;
  margin-bottom: 30px;

  @media screen and (max-width: 767px) {
    font-size: calc(22px + (30 - 22) * ((100vw - 320px) / (767 - 320)));
  }
}

.contacts__list {
  color: $ptxc;
  font-size: 17px;
}

.contacts__item {
  align-self: center;
  text-align: center;
  border: 1px solid $brdc;
  text-decoration: none;
}

.contacts__phone {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  fill: $btnbgc;
}

.contacts__mail {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  fill: $btnbgc;
}

.contacts__address {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  fill: $btnbgc;
}

.contacts__word {
  font-family: Aleo, serif;
  font-weight: 700;
  font-size: 18px;
  margin-top: 11px;
  margin-bottom: 10px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 30px;
}

.contacts__link {
    display: block;
  text-decoration: none;
  color: $ptxc;
  margin-bottom: 15px;
}


.footer {
    margin-top: 50px;
}
