.divider-bottom {
    margin-top: -30px;
    background-image: url('../images/divider-bottom.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .divider-top {
    margin-bottom: 0;
    background-image: url('../images/divider-beige.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }