.frames {
  margin-top: 10px;
}

.frames__image-1 {
  width: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.frames__text {
  @media screen and (min-width: 360px) and (max-width: 767px) {
    font-size: calc(20px + (24 - 20) * ((100vw - 360px) / (767 - 360)));
  }
}
