.hero {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
text-align: center;

background-image: url("../images/hero-bg-1.jpg");
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__img {
width: 100%;
margin-top: 20px;
margin-bottom: 30px;

@media screen and (min-width: 1000px) and (max-width: 1279px)
  {
    width: 900px;
  }


}


  .divider-bottom {
    background-image: url('../images/divider-bottom.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
