.hero {
  background-image: url("../images/hero-bg-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__img {
  max-width: 100%;
}

.hero__text {
  margin-bottom: 15px;
}
