.hero {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
text-align: center;

background-image: url("../images/hero-bg-1.jpg");
  background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__img {
width: 100%;
margin-top: 20px;
margin-bottom: 30px;

@media screen and (min-width: 1000px) and (max-width: 1279px)
  {
    width: 900px;
  }

  @media screen and (min-width: 1280px) and (max-width: 1920px)
  {
    width: 720px;
  }
}


  .divider-bottom {
    background-image: url('../images/divider-bottom.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }


  .hero__img-title {
    
    @media screen and (min-width: 1280px) and (max-width: 1920px)
  {
    display: flex;
    margin-top: 0;
    margin-bottom: 100px;
  }
  }

  .hero__text {
    @media screen and (min-width: 360px) and (max-width: 767px)
    {
      font-size: calc(20px + (24 - 20) * ((100vw - 360px) / (767 - 360)));
    }
  }