h1,
h2,
h3,
h5,
h6,
h7 {
  margin: 0;
  font-family: Aleo, serif;
  line-height: 1.2em;
}

h1 {
  font-size: 70px;
  font-weight: 700;

  @media screen and (min-width: 360px) and (max-width: 767px)
  {
    font-size: calc(58px + (100 - 58) * ((100vw - 360px) / (767 - 360)));
  }

  @media screen and (min-width: 768px) and (max-width: 999px)
  {
    font-size: calc(100px + (120 - 100) * ((100vw - 768px) / (999 - 768)));
  }

  @media screen and (min-width: 1000px) and (max-width: 1279px)
  {
    font-size: calc(120px + (130 - 120) * ((100vw - 1000px) / (1279 - 1000)));
  }

}

h2 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 30px;
  position: relative;

  padding-bottom: 20px;

  @media screen and (min-width: 360px) and (max-width: 767px)
  {
    font-size: calc(30px + (54 - 30) * ((100vw - 360px) / (767 - 360)));
  }

  @media screen and (min-width: 768px) and (max-width: 999px)
  {
    font-size: calc(54px + (70 - 54) * ((100vw - 768px) / (999 - 768)));
  }

  @media screen and (min-width: 1000px) and (max-width: 1279px)
  {
    font-size: calc(70px + (80 - 70) * ((100vw - 1000px) / (1279 - 1000)));
  }

  // @media screen and (min-width: 360px)
  // {
  //   font-size: 40px;
  // }

  // @media screen and (min-width: 479px)
  // {
  //   font-size: 50px;
  // }



  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $brdc-red;
    position: absolute;

    bottom: 0;
    left: 0;

}
}

h3 {
  font-size: 25px;
  font-weight: 700;
  color: $ptxc;
  text-align: center;
}