.map {
    display: block;
    margin: auto;
    text-align: center;
}

.map__tittle {
    margin-top: 40px;
  margin-bottom: 20px;

  @media screen and (max-width: 767px) {
    font-size: calc(22px + (30 - 22) * ((100vw - 320px) / (767 - 320)));
  }
}

.map__google {
 width: 100%;
 height: 300px;
}

.appart__img {
    max-width: 70%;
}